body{
    background-color: antiquewhite;
    color: black;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

ol{
    text-align: center;
}

img{
    display: flex;
    margin: auto;
}

.t{
    text-align: center;
}
@keyframes Arın {
    0%{
        color: blue;
    }
    50%{
        color: red;
    }
    100%{
        color: pink;
    }
    
}
h3:hover{
    animation: Arın 9s infinite;
}

iframe{
    display: flex;
    margin: auto;
}
